# Main WiFi network for ESPHome nodes to connect to
wifi_ssid: mancave
wifi_password: superS3cure!

# Password for connecting directly to access points
# generate passwords with `openssl rand -hex 16`
node_ap_password: 2cac95864a831315dc2068a9e5f68281

# Passwords for HA (api connection) and OTA (updates)
# generate passwords with `openssl rand -hex 32`
api_password: 9b0926dcd317c456b5765b75e6de0351c7c011460316a28139eb9a7dca2f5a50
ota_password: 364ea16988fda33dbc794dec1143e7f852a9462a00ebc81469fb94e33b67377a
